[submodule "creational/abstract-factory"]
	path = creational/abstract-factory
	url = git@github.com:Teodora-Derek/abstract-factory.git
[submodule "creational/factory-method"]
	path = creational/factory-method
	url = git@github.com:Teodora-Derek/factory-method.git
[submodule "creational/prototype"]
	path = creational/prototype
	url = git@github.com:Teodora-Derek/prototype.git
[submodule "creational/singleton"]
	path = creational/singleton
	url = git@github.com:Teodora-Derek/singleton.git
[submodule "behavioral/strategy"]
	path = behavioral/strategy
	url = git@github.com:Teodora-Derek/strategy.git
[submodule "behavioral/command"]
	path = behavioral/command
	url = git@github.com:Teodora-Derek/command.git
[submodule "behavioral/observer"]
	path = behavioral/observer
	url = git@github.com:Teodora-Derek/observer.git
[submodule "structural/adapter"]
	path = structural/adapter
	url = git@github.com:Teodora-Derek/adapter.git
[submodule "structural/composite"]
	path = structural/composite
	url = git@github.com:Teodora-Derek/composite.git
[submodule "structural/decorator"]
	path = structural/decorator
	url = git@github.com:Teodora-Derek/decorator.git
[submodule "structural/facade"]
	path = structural/facade
	url = git@github.com:Teodora-Derek/facade.git
[submodule "structural/flyweight"]
	path = structural/flyweight
	url = git@github.com:Teodora-Derek/flyweight.git
